 /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    
    nav a{
        font-size: 16px;
    }

    h3{
        font-size: 1vw;
    }

    .flex-item p {
        font-weight: lighter;
        font-size: 1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 20px;
        padding-bottom: 50px;
    }
}