  @media screen and (max-width: 575px) {
    
    header {
        flex: auto;
    }

    h1 {
        font-size: 1.55vw;
    }
    
    nav a{
        font-size: 16px;
    }

    h3 {
        font-size: 1.55vw;
        text-align: center;
    }

    .box-right {
        border-bottom: 3px solid var(--dutsty);
      }

    .flex-item p {
        font-size: 1.55vw;
    }

    .big img {
        flex-basis: 77%;
        width: 80%;
        padding: 3px;
        background: var(--dutsty);
      }

    .small img {
        flex-basis: 77%;
        width: 100%;
        padding: 10px;
        background: var(--dutsty);
          }
    }