* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #b1a5a5;
  --secondary-color: #000000;
  --tertiary-color: #287cc2;
  --fourth-color: ##5d536b;
  --fifth-color: #FFFFFF;

}

body {
  background-color: var(--primary-color);
  font-family: Helvetica, Arial, sans-serif;
  padding: 5%;
}


/* HEADER / NAV BAR STYLES START */

header {
  margin: 0;
  padding: 20px 35px;
  background-color: var(--primary-color);
  z-index: 9999;
}

h1 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 36px;
  text-align: center;
  color:var(--secondary-color);
}

.container {
  justify-content: center;
  border-style: none;
  height: 400px;
  width: 500px;
  text-align: center;
  background-color: #5d536b;
  height: 60px;
}

header nav a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  text-decoration: var(--tertiary-color);
  color: var(--secondary-color);
  font-weight: lighter;
  font-size: 5.55vw;
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding-top: 100px;
  padding-bottom: 50px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/*END -- HEADER / NAV STYLE SECTION*/

/*HERO SECTION*/

.hero img {
display: flexbox;
background-image: 25%;
height: auto;
float: none;
width: 100%;
position: relative;
}

/*END -- HERO SECTION*/

/*ABOUT ME SECTION*/

.about-me h2 {
    display: inline-flexbox;
    margin-block-start: 2px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.about-me img {
  max-width: 100%;
  height: 400px;
  }

/*END -- ABOUT ME SECTION*/

.work img {
  max-width: 100%;
  height: 400px;
}

/*FOOTER*/

footer {
  flex-wrap: wrap;
  background: "";
  width: 100%;
  padding: 40px 35px;
}
/*END -- FOOTER*/



/* UTILITIES */
.text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      border: none;
      background: var(--terciary-color);
      color: var(--secondary-color);
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    header {
      width: 100%;
    }

    h1 {
      width: 100%;
      font-size: larger;
    }
    .container {
      width: 95%;
    }

    header nav a {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
  
    .about-me p {
      margin-top: 20px;
      display: inline-flex;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }
}