* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

:root {
  --plum: #b1a5a5;
  --black: #000000;
  --dutsty: #666166;
  --white: #FFFFFF;
}

body {
  background-color: var(--plum);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5% 5%;
}


/* HEADER / NAV BAR STYLES START */

header {
  display: inl;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px 35px;
  background-color: var(--plum);
  z-index: 9999;
}

h1 {
  display: flex;
  justify-content: justify;
  align-content: center;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  font-size: 5.55vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color:var(--plum);
}

header img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: left;
  max-width: 100%;
  max-height: 400px;
  border-radius: 50%;
  border: 3px solid var(--dutsty);
  margin: 30px auto 10px auto;
}

.container {
  display: flex;
  align-items: flex-start;
  border-style: none;
  height: auto;
  width: auto;
  text-align: center;
  background-color: var(--dutsty);
  position: relative;
}

nav a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-color);
  font-weight: lighter;
  font-size: 3vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: underline;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  padding-top: 20px;
  padding-bottom: 50px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/*  END -- HEADER / NAV STYLE SECTION */

/*  BANNER SECTION */

.portait {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  max-height: 200px;
}

.banner {
  display: flex;
  align-items: flex-start;
  background-image: url('./images/bannerbar.png');
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: 150px;
  background-size: cover;
  background-position: center;
  position: relative;
  }

/*.greeting {
  position: relative;
  margin-right: 5px;
  margin-top: ;
  font-style: italic;
}
  
h2 {
  font-size: 3vw;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: lighter;
   align-content: flex-end;
   color: var(--white);
   text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
   margin-top: 25px;
  }*/

/*  END -- BANNER SECTION*/

/*  ABOUT ME SECTION*/

/*.content div {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 5px;
  padding-top: 50px;
  justify-content: left;
}*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 25px;
  width: 100%;
}

h3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 20%;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: right;
  padding-right: 25px;
}

.box-right {
  position: relative;
  flex: 1;
  align-items: space-between;
  height: auto;
  border-left: 5px solid var(--dutsty);
}

.box-right p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 50px;
  font-size: 1.55vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
}




/*  WORK SECTION */

.box-right.projects {
  padding-left: 50px;
  }

.big-project-title {
  position: relative;
  bottom: 75px;
  left: 16px;
  color: var(--white);
  font-size: 36px;
  font-weight: bolder;
  height: 55px;
  width: 200px;
  text-align: left;
  background-color: var(--dutsty);
}

.big img {
  flex-basis: 77%;
  width: 100%;
  padding: 10px;
  background: var(--dutsty);
}

.big img:hover{
  opacity: 50%;
}

.small {
  display: flex;
  flex-wrap: wrap;
}

.small img {
  width: 30%;
  background: var(--dutsty);
  justify-content: space-around;
}

.small-projects-title {
  position: relative;
  bottom: 50px;
  color: var(--white);
  font-size: 24px;
  font-weight: bolder;
  height: 40px;
  width: 120px;
  text-align: justify;
  background-color: var(--dutsty);
}

.small img:hover{
  opacity: 50%;
}

/*  END WORK SECTION */

/*  CONTACT SECTION */

.flex-item p {
  font-weight: lighter;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 20px;
  padding-bottom: 50px;
}

.flex-item a {
  text-decoration: underline;
  color: #666166;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  margin-right: 25px;
}

/*  END CONTACT SECTION */

/*END CONTENT SECTION*/


/*FOOTER*/
.footer h4{
  font-weight: lighter;
  font-size: 1vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: var(--plum);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
/*END -- FOOTER*/